.h1-menu {
    text-align: center;
}

.menu {
    background-color: #00acc1;
    text-shadow: 0px 3px 1px black;
    box-shadow: 0px 4px 6px grey;
}

.menu-list {
    text-shadow: 0px 1px 1px black;
    position: absolute;
}

.boundry {

}
